Docker Stacks/AI Stack/n8n/05_export.json
[{"updatedAt":"2026-02-18T15:04:53.936Z","createdAt":"2026-02-18T15:03:56.046Z","id":"vJkHBIE4tGKVA9Ui","name":"05_workflow_importer","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"import-workflow","options":{}},"id":"webhook_trigger","name":"Import Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[380,240]},{"parameters":{"method":"POST","url":"http://localhost:5678/api/v1/workflows","sendBody":true,"contentType":"json","bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.body.name }}"},{"name":"nodes","value":"={{ $json.body.nodes }}"},{"name":"connections","value":"={{ $json.body.connections }}"}]},"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"YOUR_API_KEY_HERE"}]}},"id":"n8n_api_import","name":"Import to n8n","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[600,240]},{"parameters":{"values":{"string":[{"name":"text","value":"=✅ **Workflow Created**\nName: {{ $json.name }}\nID: {{ $json.id }}"}]},"options":{}},"id":"format_response","name":"Format Response","type":"n8n-nodes-base.set","typeVersion":2,"position":[820,240]}],"connections":{"Import Webhook":{"main":[[{"node":"Import to n8n","type":"main","index":0}]]},"Import to n8n":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":null,"staticData":null,"meta":null,"pinData":null,"versionId":"5d3ed936-53c1-4972-9ed0-1164baa7f9af","activeVersionId":"5d3ed936-53c1-4972-9ed0-1164baa7f9af","versionCounter":16,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-18T15:03:56.046Z","createdAt":"2026-02-18T15:03:56.046Z","role":"workflow:owner","workflowId":"vJkHBIE4tGKVA9Ui","projectId":"Huitgtf9SMsMMh7b","project":{"updatedAt":"2026-02-16T21:45:35.798Z","createdAt":"2026-02-16T21:45:20.948Z","id":"Huitgtf9SMsMMh7b","name":"Rohan Menon <rohanmenon27@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"7f578f37-d05e-45c3-92c4-afa779376839"}}]}]